h1{
    
    margin-bottom: 0;
}
.reserv_t
{
	margin-bottom: 0;
margin-left:500px; 

}
p{
background-color: aquamarine;
width: 200px;
    overflow: hidden;
}
.button
{
    margin-bottom: 200px;
    margin-left: 45%;

}