body
{
    background-color: #333;
    
}

.cover
{
    height: 750px;
    background-color: #333;
    
}
 
.form h1
{
    margin-top: 0px;
    color: green;
    padding-right: 500px;
    
}
.form 
{
    margin-left: 45%;
}

.form h2
{
    margin-top: 20px;
  color: #c0c0c0;
  display: inline;
 
}

.input
{
    margin-top: 12px;
    margin-bottom: 12px;
   display: block;
   
}



.form .button
{
    display: block; 
    background-color: #c0c0c0;
    height: 50px;
    margin-top: 40px;
    margin-left: 30px;
    width: 150px;
    color: #333;
    font-size: 20px;
        
}
