body
{
    background-color: #333;
    
}
.container
{
    
}
/*Stasrt navbar*/
 /*.navbar
{
    height:50px;
    width: 100%;
    background-color:#252F31;
    overflow:hidden;
    color: aqua;
    margin-bottom: 30px;
}    
.navbar h1{
    float: left;
    color:green;
    margin-top: 0;
    padding-top: 10px;
    margin-left: 10%;
    //border:1px solid aqua;
}
.navbar h1 span
{
    color: white;
}

.navbar img
{
    padding-top: 12px;
    padding-left: 10px;
    height: 30px;
    width: 30px;
    border-radius:100%;
}
.navbar ul
{
    float: right;
    margin-right:30%; 
    padding-bottom: 14px;
    padding-right: 30px;
   
    
}
.navbar ul li
{
    float: left;
    padding-right: 10px;
    border-bottom: .5px solid red;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 15px;
    list-style-type: none;
}
.navbar ul li a
{
  text-decoration: none;
  color:white;
}
.navbar ul li a:hover
{
  color: cornflowerblue;    
}
*/
/*End  navbar*/

.container .about
{
    height: 600px;
    width: 45%;
    
    background-color: #333;
     float: left;
     padding: 0 80px 0 30px;
     color: #777;
}
.about h1
{
   
    color: #c0c0c0;
    
}
.about hr
{
display: none;

}
.about h2
{
    color: #c0c0c0
}
.about h3
{
    color: #c0c0c0;
    display: inline;
}

.container .contact
{
    height: 600px;
    background-color: #333;
padding-left: 50px;
}


.form h2
{
    margin-top: 50px;
  color: #c0c0c0;
}

.form textarea
{
    display: block;
}
.form .button
{
    margin-top: 30px;
    margin-left: 65%;
    background-color: #c0c0c0;
    height: 50px;
    width: 150px;
    color: #333;
    font-size: 20px;
        
}
/*Strat footer*/
.footer
{
    height: 40px;
    color: #666;
    text-align: center;
    margin-top: 250px;
    background-color: #252F31;
     margin-bottom: 0;
}
.footer h5
{
     margin-top: 0;
     padding-top: 15px;
 }
/*end footer*/