body
{
    background-color: #333;
    
}
/*Stasrt navbar*/
.navbar
{
    height:47px;
    width: 100%;
    background-color:#252F31;
    overflow:hidden;
    color: aqua;
}    
.navbar h1{
    float: left;
    color:green;
    margin-top: 0;
    padding-top: 10px;
    margin-left: 10%;
    
}
.navbar h1 span
{
    color: white;
}

.navbar img
{
    padding-top: 12px;
    padding-left: 10px;
    height: 30px;
    width: 30px;
    border-radius:100%;
}
.navbar ul
{
    float: right;
    margin-right:30%; 
    padding-bottom: 10px;
    padding-right: 30px;
   list-style: none;
    
}
.navbar ul li
{
    float: left;
    padding-right: 20px;
    border-bottom: 1px solid red;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
}
.navbar ul li a
{
  text-decoration: none;
  color:white;
}
.navbar ul li a:hover
{
  color: cornflowerblue;    
}

/*End  navbar*/
.cover
{
    height: 750px;
    background-color: #333;
    
}
 
.form h1
{
    color: green;
    padding-right: 500px;
    margin-top: 0px;
    
}
.form 
{
    margin-left: 45%;
}

.form h2
{
    margin-top: 20px;
  color: #c0c0c0;
  
}



.form .button
{
    display: block; 
    background-color: #c0c0c0;
    height: 50px;
    margin-top: 40px;
    margin-left: 30px;
    width: 150px;
    color: #333;
    font-size: 20px;
        
}


/*Strat footer*/
.footer
{
    height: 40px;
    color: #666;
    text-align: center;
    margin-top: 50px;
    background-color: #252F31;
     margin-bottom: 0;
}
.footer h5
{
     margin-top: 0;
     padding-top: 15px;
     margin-bottom: 0;
}
/*end footer*/